@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bricolage';
  src: url('../assets/fonts/bricolage/bricolage.ttf') format('truetype');
}

@font-face {
  font-family: 'rethink';
  src: url('../assets/fonts/rethink/rethink.ttf') format('truetype');
}
